/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #1d2e36;
  font-size: 16px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1e8ec;
}

.sign_wrapper {
  width: 800px;
  height: 600px;
  background-color: white;
  display: flex;
}

.contents {
  width: 480px;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 70px 107px 80px 107px;
  box-sizing: border-box;
}

.photo {
  width: 320px;
  height: 600px;
}

/* top */
.top {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top h2 {
  font-size: 36px;
  font-weight: 700;
  color: #f28283;
}

.top p {
  font-size: 12px;
  margin-bottom: 25px;
}

.top .social {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 26px;
  gap: 24px;
}

.top .social a {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #1d2e36;
}

/* form */
.form_area form {
  display: flex;
  flex-direction: column;
}

.form_area .agree {
  font-size: 12px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.form_area input[type="text"],
.form_area input[type="password"] {
  height: 39px;
  margin-bottom: 15px;
  padding: 0px 21px;
  border-radius: 5px;
  border: 1px solid #d0d9da;
  background-color: #e1e8ec;
}

::placeholder {
  color: #d0d9da;
}

input:focus {
  outline: none;
}

.agree label {
  display: flex;
  align-items: center;
}
